@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth rendering like canvas */
html, body {
    scroll-behavior: smooth;
    @apply font-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
